/* Global Styles */
:root {
    --font-primary: "Lato", sans-serif;
    --font-secondary: "Poppins", sans-serif;

    /* Font Sizes */
    --font-size-xs: 1rem; /* 16px */
    --font-size-sm: 1.125rem; /* 18px */
    --font-size-md: 1.25rem; /* 20px */
    --font-size-lg: 1.5rem; /* 24px */
    --font-size-xl: 3rem; /* 48px */
    --font-size-xxl: 3.75rem; /* 60px */
    --font-size-xxxl: 4rem; /* 64px */

    /* Line Heights */
    --line-height-xs: 1.5rem; /* 24px */
    --line-height-sm: 1.75rem; /* 28px */
    --line-height-md: 1.875rem; /* 30px */
    --line-height-lg: 2rem; /* 32px */
    --line-height-xl: 3.75rem; /* 60px */
    --line-height-xxl: 4.5rem; /* 72px */

    /* Letter Spacing */
    --letter-spacing-normal: 0;
    --letter-spacing-small: 0.0125rem; /* 0.2px */

    /* Colors */
    --primary-color: rgba(4, 58, 83, 1);
    --secondary-color: rgba(242, 245, 246, 1);
    --third-color: rgba(240, 183, 63, 1);
    --text-primary: rgba(18, 20, 29, 1);
    --text-secondary: rgba(64, 64, 64, 1);
    --text-light: rgba(255, 255, 255, 1);

    /* Paddings */

    
}

/* Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-primary);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

/* Headings */
h1 {
    font-weight: 800;
    font-size: var(--font-size-xxxl);
    line-height: 2.5rem;
    letter-spacing: -0.02rem;
    text-align: center;
    
}

h2 {
    font-weight: 700;
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
    letter-spacing: -0.02rem;
    text-transform: capitalize;
    
}

h3 {
    font-weight: 600;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
    letter-spacing: -0.02rem;
    
}

p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    
}

/* Text Utility Classes */
.text-black {
    font-family: var(--font-primary);
    color: var(--text-primary) !important ;
}

.text-grey {
    font-family: var(--font-secondary);
    color: var(--text-secondary);
}

.text-blue {
    font-family: var(--font-secondary);
    color: var(--primary-color);
}

.text-bold {
    font-weight: 700;
}

.text-medium {
    font-weight: 500;
}

.text-regular {
    font-weight: 400;
}

.text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
}

.text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
}

.text-md {
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
}

.text-lg {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-small);
}

.text-xl {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

.text-xxl {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-xxl);
}
/*------HERO SECTION STYLING-----*/
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 6.25rem 7.5rem;
    background-color: var(--secondary-color);
    text-align: center;
}

.hero-content{
    gap: 2rem;
   }

/* Image Styling */
.hero-img {
    width: 12.339rem;
    height: 21.25rem;
}



.mobile-img{
    display: none;
}
.desktop-img{
    display: inline-block;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    justify-content: center;
    align-self: center;
}

.video-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/*--------------------BUTTONS-------------------------*/
.hero-button-get-started {
    height: 3.75rem;
    padding: 1rem 1.5rem;
    border-radius: 3.4375rem;
    line-height: var(--line-height-sm);
    box-shadow: 0px 23px 47px 0px rgba(4, 58, 83, 0.24);
}

.hero-play-button {
    width: 2.198rem;
    height: 2.198rem;
    margin-left: 3.5rem;
    border-radius: 50%;
}

.primary-button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
}

/*-------------------- Responsive Design for Mobile -----------------------------------*/
@media (max-width: 768px) { 
    #hero {
        flex-direction: column;
        text-align: center;
        padding: 3rem 1rem;
        align-items: center;
        align-content: center;
    }

   
    .hero-content{
        gap: 3rem;
    }
   .desktop-img {
    display: none;
   }

    .mobile-img{
        display: inline-block;
    }
    

    .hero-buttons {
        flex-direction: column;
        gap: 1rem;
    }
}
